//
   Created by tronghuy2807 on 21/12/2016.
//extends layout
//block append script
//    script(src='https://code.jquery.com/jquery-1.12.4.js')
//    script(src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js')
//    script(src='https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js')
//    script(type='text/javascript').
//        $(document).ready(function () {
//            $('#userInformation').DataTable({
//                "paging": true,
//                "ordering": true,
//                "info": true,
//                "bAutoWidth": true
//            });
//        });
//block append content
//    .col-md-9
//        .row
//            .content-box-large
//                        h2 DANH SÁCH NHÀ ĐẦU TƯ
//                        .panel-body
//                            //.col-md-12(style='margin-left:505px')
//                            //    .row
//                            //        button.btn.btn-success(type='button') Thêm mới
//
//                            table#userInformation.table.table-striped.table-bordered(cellspacing='0', width='100%')
//                                thead
//                                    tr
//                                        th Họ tên
//                                        th Địa chỉ email
//                                        th Ngày sinh
//                                        th Giới tính
//                                        th CMT
//                                        th Công ty
//                                        th Tài khoản ngân hàng
//                                        th Tên ngân hàng
//                                        th Mã giao dịch
//                                        th Mã giới thiệu
//                                        th Địa chỉ
//                                        th Điện thoại
//                                tbody
//                                    each d in JSON.parse(data)
//                                        tr
//                                            td #{d.fullname}
//                                            td #{d.email}
//                                            td #{d.birthdate}
//                                            td #{d.sex}
//                                            td #{d.cmt}
//                                            td #{d.org}
//                                            td #{d.bankacc}
//                                            td #{d.bankbranch}
//                                            td #{d.userID}
//                                            td #{d.leaderID}
//                                            td #{d.addr}
//                                            td #{d.phone}

extends layout
block append script
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='http://getbootstrap.com/dist/js/bootstrap.min.js')
    script(type='text/javascript').
        function pagination() {
            var req_num_row = 10;
            var $tr = jQuery('tbody tr');
            var total_num_row = $tr.length;
            var num_pages = 0;
            if (total_num_row % req_num_row == 0) {
                num_pages = total_num_row / req_num_row;
            }
            if (total_num_row % req_num_row >= 1) {
                num_pages = total_num_row / req_num_row;
                num_pages++;
                num_pages = Math.floor(num_pages++);
            }
            for (var i = 1; i <= num_pages; i++) {
                jQuery('#pagination').append(" <a href='#' class='btn'>"+i+"</a> ");
            }
            $tr.each(function (i) {
                jQuery(this).hide();
                if (i + 1 <= req_num_row) {
                    $tr.eq(i).show();
                }
            });
            jQuery('#pagination a').click(function (e) {
                e.preventDefault();
                $tr.hide();
                var page = jQuery(this).text();
                var temp = page - 1;
                var start = temp * req_num_row;
                //alert(start);
                for (var i = 0; i < req_num_row; i++) {
                    $tr.eq(start + i).show();
                }
            });
        }
        jQuery('document').ready(function () {
            pagination();
        });
    style(type='text/css').
        .pagination > li {
            display: inline;
            padding: 0px !important;
            margin: 0px !important;
            border: none !important;
        }

        .modal-backdrop {
            z-index: -1 !important;
        }

        /*
        Fix to show in full screen demo
        */
        iframe {
            height: 700px !important;
        }

        .btn {
            display: inline-block;
            padding: 3px 6px !important;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-primary {
            color: #fff !important;
            background: #428bca !important;
            border-color: #357ebd !important;
            box-shadow: none !important;
        }

        .btn-danger {
            color: #fff !important;
            background: #d9534f !important;
            border-color: #d9534f !important;
            box-shadow: none !important;
        }

        #pagination a {
            display: inline-block;
            margin-right: 5px;
        }

block append content
    .col-md-9
        .row
            .content-box-large
                .container
                    .row
                        .col-md-12
                            h4 DANH SÁCH NHÀ ĐẦU TƯ

                            .table-responsive
                                table.paginated.table.table-bordred.table-striped
                                    thead
                                        th Họ tên
                                        th Địa chỉ email
                                        th Ngày sinh
                                        th Giới tính
                                        th CMT
                                        th Công ty
                                        th Tài khoản ngân hàng
                                        th Tên ngân hàng
                                        th Mã giao dịch
                                        th Mã giới thiệu
                                        th Địa chỉ
                                        th Điện thoại
                                    tbody
                                        each d,i in JSON.parse(data)
                                            tr
                                                td #{d.fullname}
                                                td #{d.email}
                                                td #{d.birthdate}
                                                td #{d.sex}
                                                td #{d.cmt}
                                                td #{d.org}
                                                td #{d.bankacc}
                                                td #{d.bankbranch}
                                                td #{d.userID}
                                                td #{d.leaderID}
                                                td #{d.addr}
                                                td #{d.phone}
                                                td
                                                    p(data-placement='top', data-toggle='tooltip', title='Sửa')
                                                        button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit'+i)
                                                            span.glyphicon.glyphicon-pencil
                                                        div(id="edit"+i).modal.fade(tabindex='-1', role='dialog', aria-labelledby='edit', aria-hidden='true')
                                                            .modal-dialog
                                                                .modal-content
                                                                    .modal-header
                                                                        button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                                                            span.glyphicon.glyphicon-remove(aria-hidden='true')
                                                                        h4#Heading.modal-title.custom_align Edit Your Detail
                                                                    .modal-body
                                                                        form(role='form', action="/tableUpdate",method="post", style='max-width: 700px;')
                                                                            .form-group
                                                                                input.form-control(type='text',name="fullname", value='#{d.fullname}')
                                                                            .form-group
                                                                                input.form-control(type='text',name="email", value='#{d.email}')
                                                                            .form-group
                                                                                textarea.form-control(rows='2', value='#{d.phone}')
                                                                            input.bttn-success(type='submit', value='Đăng ký', name='submit')

                                                                    .modal-footer
                                                                        button.btn.btn-warning.btn-lg(type='button', style='width: 100%;')
                                                                            span.glyphicon.glyphicon-ok-sign
                                                                            |  Update
                                                td
                                                    p(data-placement='top', data-toggle='tooltip', title='Xóa')
                                                        button.btn.btn-danger.btn-xs(data-title='Delete', data-toggle='modal', data-target='#delete'+i)
                                                            span.glyphicon.glyphicon-trash

                                                        div(id="delete"+i).modal.fade(tabindex='-1', role='dialog', aria-labelledby='edit', aria-hidden='true')
                                                            .modal-dialog
                                                                .modal-content
                                                                    .modal-header
                                                                        button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                                                            span.glyphicon.glyphicon-remove(aria-hidden='true')
                                                                        h4#Heading.modal-title.custom_align Delete this entry
                                                                    .modal-body
                                                                        .alert.alert-danger
                                                                            span.glyphicon.glyphicon-warning-sign
                                                                            |  Are you sure you want to delete this Record?
                                                                    .modal-footer
                                                                        button.btn.btn-success(type='button')
                                                                            span.glyphicon.glyphicon-ok-sign
                                                                            |  Yes
                                                                        button.btn.btn-default(type='button', data-dismiss='modal')
                                                                            span.glyphicon.glyphicon-remove
                                                                            |  No
                                #pagination
                                //.clearfix
                                //ul.pagination.pull-right
                                //    li.disabled
                                //        a(href='#')
                                //            span.glyphicon.glyphicon-chevron-left
                                //    li.active
                                //        a(href='#') 1
                                //    li
                                //        a(href='#') 2
                                //    li
                                //        a(href='#') 3
                                //    li
                                //        a(href='#') 4
                                //    li
                                //        a(href='#') 5
                                //    li
                                //        a(href='#')
                                //            span.glyphicon.glyphicon-chevron-right


