extends layout
block append script
    script(type='text/javascript').
        function pagination() {
            var req_num_row = 10;
            var $tr = jQuery('tbody tr');
            var total_num_row = $tr.length;
            var num_pages = 0;
            if (total_num_row % req_num_row == 0) {
                num_pages = total_num_row / req_num_row;
            }
            if (total_num_row % req_num_row >= 1) {
                num_pages = total_num_row / req_num_row;
                num_pages++;
                num_pages = Math.floor(num_pages++);
            }
            for (var i = 1; i <= num_pages; i++) {
                jQuery('#pagination').append(" <a href='#' class='btn'>"+i+"</a> ");
            }
            $tr.each(function (i) {
                jQuery(this).hide();
                if (i + 1 <= req_num_row) {
                    $tr.eq(i).show();
                }
            });
            jQuery('#pagination a').click(function (e) {
                e.preventDefault();
                $tr.hide();
                var page = jQuery(this).text();
                var temp = page - 1;
                var start = temp * req_num_row;
                //alert(start);
                for (var i = 0; i < req_num_row; i++) {
                    $tr.eq(start + i).show();
                }
            });
        }
        jQuery('document').ready(function () {
            pagination();
        });
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    style(type='text/css').
        .pagination > li {
            display: inline;
            padding: 0px !important;
            margin: 0px !important;
            border: none !important;
        }

        .modal-backdrop {
            z-index: -1 !important;
        }

        /*
        Fix to show in full screen demo
        */
        iframe {
            height: 700px !important;
        }

        .btn {
            display: inline-block;
            padding: 3px 6px !important;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-primary {
            color: #fff !important;
            background: #428bca !important;
            border-color: #357ebd !important;
            box-shadow: none !important;
        }

        .btn-danger {
            color: #fff !important;
            background: #d9534f !important;
            border-color: #d9534f !important;
            box-shadow: none !important;
        }

        #pagination a {
            display: inline-block;
            margin-right: 5px;
            /*float: left;*/
            transition: background-color .3s;

        }

block append content
    .col-md-9
        .row
            .content-box-large

                h3(style='margin-left:500px') DANH SÁCH GIAO DỊCH
                input#myInput(type='text', onkeyup='myFunction()', placeholder='Tìm kiếm theo tên nhà đầu tư..',style='margin-right:5px;border-radius:2px')
                input.btn.btn-info(data-title='Add', data-toggle='modal', data-target='#add',value='Thêm mới',style='margin-right:5px')
                input.btn.btn-warning(type='button',value='Nhập từ excel',data-toggle='modal', data-target='#excel',disabled='')
                #excel.modal.fade(tabindex='-1', role='dialog', aria-labelledby='edit', aria-hidden='true')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                    span.glyphicon.glyphicon-remove(aria-hidden='true')
                            .modal-body
                                form(method='post', action='uploadTransExcel', enctype='multipart/form-data')
                                    .col-md-6.form-group
                                        label.btn.btn-info.btn-block.btn-outlined(for='imageUpload') Lựa chọn file excel
                                            input#imageUpload(type='file', name='file',style="display:none;")
                                    button.btn.btn-success(type='submit',style='margin-right:5px')
                                        | Cập nhật
                #add.modal.fade(tabindex='-1', role='dialog', aria-labelledby='edit', aria-hidden='true')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                    span.glyphicon.glyphicon-remove(aria-hidden='true')
                                h4#Heading.modal-title.custom_align Thêm giao dịch
                            .modal-body
                                form(role='form', action="/uploadTransaction",method="post", style='max-width: 700px;')
                                    .form-group
                                        label Tên nhà  đầu tư:
                                        input.form-control(type='text',name="ibname")
                                    .form-group
                                        label Mã giao dịch:
                                        input.form-control(type='text',name="id")
                                    .form-group
                                        label Tiền đặt cọc:
                                        input.form-control(type='text',name="deposit")
                                    .form-group
                                        label Số dư:
                                        input.form-control(type='text',name="balance")
                                    .form-group
                                        label Vốn cổ phần:
                                        input.form-control(type='text', name="equity")
                                    .form-group
                                        label Lot:
                                        input.form-control(type='text', name="lotvolume")
                                    .form-group
                                        label Tiền hoa hồng:
                                        input.form-control(type='text', name="commision")
                                    .form-group
                                        label Phiếu:
                                        input.form-control(type='text', name="ticket")
                                    .form-group
                                        label Giờ mở cửa:
                                        input.form-control(type='text', name="opentime")
                                    .form-group
                                        label Tổng giá trị:
                                        input.form-control(type='text', name="amount")
                                    input.btn.btn-success(type='submit', value='Thêm mới',style='margin-right:5px')
                                    button.btn.btn-default(type='button', data-dismiss='modal')
                                        span.glyphicon.glyphicon-remove
                                        |  Thoát
                .table-responsive
                    table#myTable.paginated.table.table-striped.table-bordred
                        thead
                            tr
                                th Tên nhà  đầu tư
                                th Mã giao dịch
                                th Tiền đặt cọc
                                th Số dư
                                th Vốn cổ phần
                                th Lot
                                th Tiền hoa hồng
                                th Phiếu
                                th Giờ mở cửa
                                th Tổng giá trị
                        tbody
                            each d,i in JSON.parse(data)
                                tr
                                    td #{d.ibname}
                                    td #{d.id}
                                    td #{d.deposit}
                                    td #{d.balance}
                                    td #{d.equity}
                                    td #{d.lotvolume}
                                    td #{d.commision}
                                    td #{d.ticket}
                                    td #{d.opentime}
                                    td #{d.amount}
                                    td
                                        p(data-placement='top', data-toggle='tooltip', title='Sửa')
                                            button.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal', data-target='#edit'+i)
                                                span.glyphicon.glyphicon-pencil
                                            div(id="edit"+i).modal.fade(tabindex='-1', role='dialog', aria-labelledby='edit', aria-hidden='true')
                                                .modal-dialog
                                                    .modal-content
                                                        .modal-header
                                                            button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                                                span.glyphicon.glyphicon-remove(aria-hidden='true')
                                                            h4#Heading.modal-title.custom_align Sửa thông tin người dùng
                                                        .modal-body
                                                            form(role='form', action="/transactionEdit",method="post", style='max-width: 700px;')
                                                                .form-group
                                                                    label IB Name:
                                                                    input.form-control(type='text',name="ibname",value='#{d.ibname}')
                                                                //.form-group
                                                                //    label Currency:
                                                                //    input.form-control(type='text',name="curr",value='#{d.curr}')
                                                                //.form-group
                                                                //    label Time:
                                                                //    input.form-control(type='text',name="time",value='#{d.time}')
                                                                .form-group
                                                                    label ID:
                                                                    input.form-control(type='text',name="id",value='#{d.id}')
                                                                .form-group
                                                                    label Net Deposits:
                                                                    input.form-control(type='text',name="deposit",value='#{d.deposit}')
                                                                .form-group
                                                                    label Balance:
                                                                    input.form-control(type='text',name="balance",value='#{d.balance}')
                                                                .form-group
                                                                    label Equity:
                                                                    input.form-control(type='text', name="equity",value='#{d.equity}')
                                                                .form-group
                                                                    label Volume (lot):
                                                                    input.form-control(type='text', name="lotvolume",value='#{d.lotvolume}')
                                                                //.form-group
                                                                //    label Volume (USD):
                                                                //    input.form-control(type='text', name="usdvolume",value='#{d.usdvolume}')
                                                                .form-group
                                                                    label Commision:
                                                                    input.form-control(type='text', name="commision",value='#{d.commision}')
                                                                //.form-group
                                                                //    label Markup:
                                                                //    input.form-control(type='text', name="markup",value='#{d.markup}')
                                                                .form-group
                                                                    label Ticket:
                                                                    input.form-control(type='text', name="ticket",value='#{d.ticket}')
                                                                .form-group
                                                                    label OpenTime:
                                                                    input.form-control(type='text', name="opentime",value='#{d.opentime}')
                                                                //.form-group
                                                                //    label Side:
                                                                //    input.form-control(type='text', name="side",value='#{d.side}')
                                                                .form-group
                                                                    label Amount:
                                                                    input.form-control(type='text', name="amount",value='#{d.amount}')
                                                                input.btn.btn-success(type='submit', value='Cập nhật',style='margin-right:5px')
                                                                button.btn.btn-default(type='button', data-dismiss='modal')
                                                                    span.glyphicon.glyphicon-remove
                                                                    |  Thoát
                                                            //button.btn.btn-warning.btn-lg(type='button', style='width: 100%;')
                                                            //    span.glyphicon.glyphicon-ok-sign
                                                            //    |  Update
                                    td
                                        p(data-placement='top', data-toggle='tooltip', title='Xóa')
                                            button.btn.btn-danger.btn-xs(data-title='Delete', data-toggle='modal', data-target='#delete'+i)
                                                span.glyphicon.glyphicon-trash

                                            div(id="delete"+i).modal.fade(tabindex='-1', role='dialog', aria-labelledby='edit', aria-hidden='true')
                                                .modal-dialog
                                                    .modal-content
                                                        .modal-header
                                                            button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                                                span.glyphicon.glyphicon-remove(aria-hidden='true')
                                                            h4#Heading.modal-title.custom_align Xóa thông tin này
                                                        .modal-body
                                                            .alert.alert-danger
                                                                span.glyphicon.glyphicon-warning-sign
                                                                |  Bạn có chắc chắn xóa thông tin giao dịch này ?
                                                        .modal-footer
                                                            form(role='form', action="/transactionDelete",method="post")
                                                                button.btn.btn-success(type='submit',name='id',value='#{d.id}')
                                                                    span.glyphicon.glyphicon-ok-sign
                                                                    |  Đồng ý
                                                                button.btn.btn-default(type='button', data-dismiss='modal')
                                                                    span.glyphicon.glyphicon-remove
                                                                    |  Thoát


                    #pagination




